h1,h2{
    color: #CB4C22;
}
.container-fluid{
    padding-top: 5px;
    padding-bottom: 5px;
}
body{
    background: #131415;
    color: #9F9F9F;
    font-size: 12px;
}
.article-view{
    background: #131415;
    color: #9F9F9F;
    padding-bottom: 5px;
}
.article-view>h5>a{
    color: #9F9F9F;
    transition: 0.6s;

}
.article-view>h5>a:hover{
    color: #CB4C22;
    text-decoration: underline!important;
}
.article-view>h5 {
    margin-top: 5px;
}
#navigation{
    padding-top: 30px;
    padding-bottom: 25px;

}

#footer h2{
    text-transform: uppercase;
    font-size: 16px;
}

#footer{
    border-top: 7px solid #CB4C22;
    padding-top: 30px;
    padding-bottom: 25px;
}
li.page-item{
    background: #1F2123!important;
    color: white;
    border: 1px solid #9F9F9F;
    padding: 5px 7px;
}
li.page-item>a{
    background: none!important;
    color: white!important;
}

#about h2{
    color: white;
}
#download{
    color: white;
}
#btn-download{
    max-width: 180px;
    padding-top: 14px;
    padding-bottom: 14px;
}



#table{
    color: white!important;
}
#table>tbody>tr>td{
    max-width: 60px;
    color: white;
    overflow-x: auto;
}
#table>tbody>tr>td:last-child{
    max-width: none;
    color: white;
}
table{
    color: white!important;
}
table>tbody>tr>td{
    max-width: 60px;
    color: white!important;
    overflow-x: auto;
}
table>tbody>tr>td:last-child{
    max-width: none;
    color: white!important;
}
